<header>
    <img id="logo" src="img/carro-header.png" alt="Carro">
    <nav>
        <ul id="navegacao">
            <li><a href="/">Início</a></li>
            <li><a href="/views/cadastrar.ejs">Cadastrar</a></li>
        </ul>
    </nav>
</header>
