<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <header>

        <%- include('./partials/header.ejs') %>
    
    </header>

    <main class="container">

        <div class="card-add-produto card">

            <form action="/cadastrar" method="post">
                <legend class="atual">Adicionar Carro</legend>

                <div class="form-add">
                    <fieldset>
                        <label for="modelo">Modelo:</label>
                        <input type="text" name="modelo" placeholder="Nome do modelo" required>
                    </fieldset>
                   
                
                    <fieldset>
                        <label for="marca">Marca:</label>
                        <input type="text" name="marca" placeholder="Nome da marca" required>
                    </fieldset>
                    
                
                    <fieldset>
                        <label for="ano">Ano:</label>
                        <input type="text" name="ano" placeholder="Ano do carro" required> 
                    </fieldset>
                    
                
                    <fieldset>
                        <label for="img">Imagem:</label>
                        <input type="url" name="img" placeholder="URL da imagem do carro" required>
                    </fieldset>
                    
            
                    <fieldset>
                        <label for="valor">Valor:</label>
                        <input type="text" name="valor" placeholder="Digite o valor do carro" required>
                    </fieldset>

                    <fieldset>
                        <label for="descricao">Descrição:</label>
                        <input type="text" name="descricao" placeholder="Descrição do carro" required>
                    </fieldset>
                </div>
               

                <div class="buttons-form">
                    <button type="submit" class="button-add">Adicionar Carro</button>
                    <a href="/">Cancelar</a>
                </div>
            </form>

        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>