<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro</title>
</head>

<h1>Cadastro</h1>

<form action="/cadastrar" method="POST">
    <div>
        <label for="nome">Modelo: </label>
        <input type="text" name="nome" id="nome" placeholder="Digite o modelo" required="">
    </div>
    <div>
        <label for="marca">Marca: </label>
        <input type="text" name="marca" id="marca" placeholder="Digite a marca" required="">
    </div>
    <div>
        <label for="ano">Ano: </label>
        <input type="text" name="ano" id="ano" placeholder="Digite o ano" required="">
    </div>
    <div>
        <label for="imagem">Imagem: </label>
        <input type="imagem" name="imagem" id="imagem" placeholder="Digite o link da imagem" required="">
    </div>
    
         
    <button type="submit">Cadastrar</button>
</form>


<body>
    
</body>
</html>