* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: 'Designer';
    src: url('../fonts/DESIGNER.otf');
}

a {
    text-decoration: none;
    color: #BF9663;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #0D0D0D;
    color: #BF9663;
    font-family: 'Designer', 'Times New Roman', Times, serif;
}


/*
HEADER
*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: #F2F2F2;
}


header nav a {
    color: #BF9663;    
}

header nav a {
    color: #D9B26A;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header nav img {
    margin-right: 4rem;
}

header nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    color: #BF9663;
}

/*
PAGINA INICIAL
*/

main {
    min-height: 80%;
}

section#card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 16px;
    gap: 16px;
}

section article.cards {
    height: 350px;
    width: 350px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn__container {
    margin-top: 50px;
}

section article.cards-detalhes {
    height: 350px;
    width: 300px;
    margin-bottom: 0;
}
section article.cards {
    color: #BF9663;
}
section article.cards-detalhes {
    color: #BF9663;
}

section article.cards:hover {
    color: #D9B26A;
    text-shadow: -8px 2px 7px;
    box-shadow: -2px 1px 41px 1px #BF9663;
}


article.cards div.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    border: 4px inset #D9B26A;
    padding: 3rem;
    height: 250px;
}

article.cards-detalhes div.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: 4px inset #D9B26A;
    padding: 1rem;
}

article.cards div.card_img img {
    height: 50%;
    /* padding-top: 1.5rem; */
}

article.cards-detalhes div.card_img img {
    height: 50%;
    padding-top: 1.5rem;
}

article.cards div.card_modelo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border: 4px inset #D9B26A;
    margin-top: 10px;
    margin-bottom: 20px;
} 

article.cards-detalhes div.card_modelo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border: 4px inset #D9B26A;
    margin-top: 10px;
    margin-bottom: 20px;
}


section article #detalhes-decricao {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.container__detalhes h3{
    display: flex;
    justify-content: center;
}

/*
PAGINA CRIAR
*/


div.btn__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section#form__container input {
    justify-content: center;
}

section#form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

section#form__container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

form fieldset {
    padding: 20px;
}

fieldset legend {
    background-color: #D9B26A;
    color: #F2F2F2;
}

fieldset.fieldset__data{
    border: none;
}

form div#btn__container {
    display: flex;
    justify-content: center;
}

form button#btn__submit {
    background-color: #D9B26A;
    color: #fff;
    height: 40px;
    width: 120px;
}

/*
FOOTER
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #F2F2F2;
    gap: 10px;
    margin-top: 30px;
} 

footer a {
    color: #BF9663;   
}

footer a:hover {
    color: #D9B26A;
}
